
    <div class="display-container">
        <div class="display-info">
            <p class="text-parameter">Movie Name </p> 
            <p class="small-info">My Movie Name</p>
        </div>
        <div class="display-info">
            <p class="text-parameter">Booking Time</p>
            <p class="small-info">09:00 am</p>
        </div>
        <div class="display-info">
            <p class="text-parameter">Booking Date</p>
            <p class="small-info">22/7/23 (dd/mm/yy)</p>
        </div>
        <div class="display-info">
            <p class="text-parameter">Movie Duration</p>
            <p class="small-info">02:55</p>
        </div>
        <div class="display-info">
            <p class="text-parameter">Seats Booked</p>
        </div>

        <div class="display-info">
            <p class="text-parameter">Card Type</p>
            <p class="small-info">Debit</p>
        </div>

        <div class="display-info">
            <p class="text-parameter">Bank</p>
            <p class="small-info">ICICI</p>
        </div>
        
    </div>