<table class="table table-bordered">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Date</th>
            <th>Amount Paid</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Movie Name</td>
            <td>20/01/23</td>
            <td>&#8377; 200</td>
            <td><button class="red-white">View</button></td>
        </tr>
        <tr>
            <td>Movie Name</td>
            <td>20/01/23</td>
            <td>&#8377; 200</td>
            <td><button class="red-white">View</button></td>        
        </tr>
    </tbody>
</table>